<!-- FOOTER -->
  <footer class="footer">
           <div class="portal499">

            <div class="portal307">
                <div class="portal504">
                    <a href="/">
                        <img class="logo-pacto-footer" width="100%" height="auto" alt="Logo do DesenvolveRJ" src="/sites/seederi/themes/secretarias/partials/logo-desenvolve-rj-br.png">
                    </a>
                    <a href="http://www.desenveconomico.rj.gov.br/">
                        <img alt="rj" src="/sites/seederi/themes/secretarias/partials/logo-sedeeri-2.png" class="portal503" style="width: 100%; height: auto;">
                    </a>
 
                    <div class="portal506">

                      <a href="https://www.proderj.rj.gov.br/" target="_blank">
                        <div class="logo-proderj-fixo" width="115px" height="auto" alt="proderj">&nbsp;</div>
                      </a>

                    </div>

                </div>
            </div>
        </div>
    
    
        <div class="portal507">
            <div>
                <p class="portal83 portal508 portal85">Todo o conteúdo deste site está publicado sob a licença
                    <span class="portal509"> Digital Change For Gov.</span>
                </p>
            </div>
        </div>

        <!-- VOLTAR AO TOPO -->

        <script type="text/javascript">
            /*Scroll to top when arrow up clicked BEGIN*/
            $(window).scroll(function() {
                var height = $(window).scrollTop();
                if (height > 100) {
                    $('#back2Top').fadeIn();
                } else {
                    $('#back2Top').fadeOut();
                }
            });
            $(document).ready(function() {
                $("#back2Top").click(function(event) {
                    event.preventDefault();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                });
        
            });
            /*Scroll to top when arrow up clicked END*/
        </script>
</footer>
<!-- #FOOTER -->