<!--<div class="container-pagina">
	<div class="menu-superior">
		<div class="menusupi">

			<div class="infosup">
				{{ page.menuTopo }}
			</div>


		</div>

	</div>
</div>-->
<!-- #MENUSUPI -->
<script>
	function openNav() { // document.getElementById("myNav").style.display = "block";
}

function closeNav() { // document.getElementById("myNav").style.display = "none";
}
</script>

<div class="portal5535" id="back-to-top-anchor" style="top: 0px;">
		
		<div class="portal66">

				<a href="/">
					<img class="logo-pacto" width="100%" height="auto" alt="Logo do DesenvolveRJ" src="/sites/seederi/themes/secretarias/partials/logo-desenvolve-rj-br.png">
				</a>
							
				<div class="rs-wrap">
					<a href="http://www.desenveconomico.rj.gov.br/">
						<img class="portal5565" width="100%" height="auto" alt="RJ" src="/sites/seederi/themes/secretarias/partials/logo-sedeeri-2.png">
					</a>
				</div>
							
				<div class="portal5576">

					<div class="portal5549">
						<a href="https://painel.saude.rj.gov.br/monitoramento/covid19.html" target="_blank" class="portal5557" rel="noreferrer">CORONAVÍRUS</a>
							<span class="portal5559">|</span>
						<a href="http://www.transparencia.rj.gov.br/transparencia/" target="_blank" class="portal5557" rel="noreferrer">PORTAL DA TRANSPARÊNCIA</a>
							<span class="portal5559">|</span>
						<a class="portal5557" bhref="/acessibilidade">ACESSIBILIDADE</a><span class="portal5559">|</span>

						<div>
							<a class="portal5557">CONTRASTE</a>
						</div>

					</div>

					<div class="portal5554" style="flex-wrap: nowrap;">

						<div class="portal5566">

							<div id="atl-player" class="radiotopo">
								<div class="overplayer">
									<span id="play-icon-radio" style="color: white; font-size: 14px;">
										<img class="iconplay" src="/sites/agricultura/themes/secretarias/imagens/img-play.png" alt="play">
									</span>
									<span id="pause-icon-radio" style="color: white; font-size: 14px; display: none">
										<img class="iconpause" src="/sites/agricultura/themes/secretarias/imagens/img-pause.png" alt="pause">
									</span>
									<audio id="player_html5" style=" color: #fff; width: 359px; height: 100%;">
										<source src="http://radio.radioroquettepinto.com.br:8300/live">
										Seu navegador não suporta HTML5
									</audio>
								</div>
								<div class="text" style="flex: 1;">
									<h3>ouça ao vivo<span> - A Rádio do Rio - 94 FM</span></h3>
									<h2>Rádio Roquette Pinto</h2>
								</div>
							</div>

						</div>

						<div></div>

						<span class="portal5560">|</span>

						<a class="portal77 portal68" tabindex="0" aria-disabled="false" href="https://www.facebook.com/sedeerirj/" target="_blank">

							<span class="portal76">
								<img width="20px" height="20px" src="/sites/seederi/themes/secretarias/partials/face.svg" alt="facebook">
							</span>

							<span class="portal382"></span>
						</a>

						<a class="portal77 portal68" tabindex="0" aria-disabled="false" href="https://twitter.com/sedeerirj" target="_blank">

								<span class="portal76">
									<img width="20px" height="20px" src="./sites/seederi/themes/secretarias/partials/twt.svg" alt="twitter">
								</span>

								<span class="portal382"></span>
						</a>

						<a class="portal77 portal68" tabindex="0" aria-disabled="false" href="https://www.linkedin.com/company/sedeeri/" target="_blank">

							<span class="portal76">
								<img width="20px" height="20px" src="/sites/seederi/themes/secretarias/partials/linkd.svg" alt="linkedin">
							</span>

							<span class="portal382"></span>
						</a>

						<a class="portal77 portal68" tabindex="0" aria-disabled="false" href="https://www.instagram.com/sedeeri" target="_blank">
							
							<span class="portal76">
								<img width="20px" height="20px" src="/sites/seederi/themes/secretarias/partials/inst.svg" alt="instagram">
							</span>
							
							<span class="portal382"></span>
						</a> 
					</div>
				</div>
		</div>
</div>

<!--  ### FIM HEADER ###  -->

<!--  ### INICIO MENU ###  -->

<div class="portal182 portal5561">
    <div class="portal183 portal5577">
            <div id="hambtn"><a onclick="openNav()">&#9776;</a></div>  
        <div class="portal184" flex-direction="row">
            <button class="portal77 portal153 portal155 portal5556" tabindex="0" type="button">
                <span class="portal154">
                    <div style="margin-left: 15px; margin-top: 4px;">
                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512" class="portal5558" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z">
                            </path>
                        </svg>
                    </div>
                    <p class="portal83 portal5537 portal85">ENTRAR</p>
                </span>
                <span class="portal382"></span>
            </button>
        </div>
    </div>
    <div class="portal185 portal5562">
        <div class="dropdown">
            <a href="/institucional" class="portal5616">
                <img class="portal5614" width="auto" height="28px" src="/sites/seederi/themes/secretarias/partials/icon-empresa.svg" alt="O Portal">
                Institucional
            </a>
            <!-- <div class="portal5637 dropdown-content">
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Desenvolvimento Produtivo, Científico e Tecnológico</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Infraestrutura e Logística</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Dados, Boletins e Informações</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Educação e Cultura</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Saúde e Proteção Social</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Segurança Pública</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Redes e Sistemas</a></div>
            </div> -->
        </div>
        <div class="dropdown">
            <a href="/porquerj" class="portal5616">
                <img class="portal5614" width="auto" height="32px" src="/sites/seederi/themes/secretarias/partials/icon-porque.png" alt="Estado do RJ">
                Por que o RJ?
            </a>
            <!-- <div class="portal5637 dropdown-content">
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Porque o RJ</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Indicadores</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Incentivos</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Distritos Industriais</a></div>
            </div> -->
        </div>
        <div class="dropdown">
            <a href="/rjmapas" class="portal5616">
                <img class="portal5614" width="auto" height="32px" src="/sites/seederi/themes/secretarias/partials/icon-mapa-rio-br.png" alt="RJ em Mapas">
                RJ em Mapas
            </a>
            <!-- <div class="portal5637 dropdown-content">
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Desenvolvimento Produtivo, Científico e Tecnológico</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#">Infraestrutura e Logística</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Dados, Boletins e Informações</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Educação e Cultura</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Saúde e Proteção Social</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Segurança Pública</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Redes e Sistemas</a></div>
            </div> -->
        </div>
        <div class="dropdown">
            <a href="/dados" class="portal5616">
                <img class="portal5614" width="auto" height="32px" src="/sites/seederi/themes/secretarias/partials/icon-dados-municipios.png" alt="Dados dos Municípios">
                Dados dos Municípios
            </a>
            <!-- <div class="portal5637 dropdown-content">
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Desenvolvimento Produtivo, Científico e Tecnológico</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#">Infraestrutura e Logística</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Dados, Boletins e Informações</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Educação e Cultura</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Saúde e Proteção Social</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Segurança Pública</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Redes e Sistemas</a></div>
            </div> -->
        </div>
        <div class="dropdown">
            <a href="/pesquisas" class="portal5616">
                <img class="portal5614" width="auto" height="30px" src="/sites/seederi/themes/secretarias/partials/icon-research.png" alt="Agenda para o Desenvolvimento">
                Estudos e Pesquisas
            </a>
            <!-- <div class="portal5637 dropdown-content">
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Vantagens e oportunidades</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Desafios e Gargalos</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Agenda para o Desenvolvimento</a></div>
                <div class="portal5639"><img width="21px" height="21px" src="./imagens/search.svg" alt="seach-icon"><a href="#" class="portal5642">Sugestões</a></div>
            </div> -->
        </div>

        <!-- <div class="portal235" flex-direction="row">
            <button class="portal77 portal153 portal155 portal5556" tabindex="0" type="button">
                <span class="portal154">
                    <div style="margin-left: 15px; margin-top: 4px;"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512" class="portal5558" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z">
                            </path>
                        </svg>
                    </div>
                    <p class="portal83 portal5537 portal85">ENTRAR</p>
                </span>
                <span class="portal382"></span>
            </button>
        </div> -->

    </div>
</div>

<!--  ### FIM MENU ###  -->